:root {
  --neutral-colors800: rgba(18, 18, 18, 1);
  --neutral-colors700: rgba(63, 63, 63, 1);
  --neutral-colors600: rgba(101, 101, 101, 1);
  --neutral-colors100: rgba(255, 255, 255, 1);
  --neutral-colors300: rgba(237, 237, 237, 1);
  --primary-colorscolor-1: rgba(255, 86, 52, 1);
  --text-single-100-medium-font-family: "Metropolis", Helvetica;
  --text-single-100-medium-font-weight: 500;
  --text-single-100-medium-font-size: 16px;
  --text-single-100-medium-letter-spacing: 0px;
  --text-single-100-medium-line-height: 18px;
  --text-single-100-medium-font-style: normal;
  --text-single-100-bold-font-family: "Metropolis", Helvetica;
  --text-single-100-bold-font-weight: 700;
  --text-single-100-bold-font-size: 16px;
  --text-single-100-bold-letter-spacing: 0px;
  --text-single-100-bold-line-height: 18px;
  --text-single-100-bold-font-style: normal;
  --headings-typography-size-1-font-family: "Metropolis", Helvetica;
  --headings-typography-size-1-font-weight: 700;
  --headings-typography-size-1-font-size: 62px;
  --headings-typography-size-1-letter-spacing: 0px;
  --headings-typography-size-1-line-height: 72px;
  --headings-typography-size-1-font-style: normal;
  --paragraph-default-font-family: "Metropolis", Helvetica;
  --paragraph-default-font-weight: 400;
  --paragraph-default-font-size: 18px;
  --paragraph-default-letter-spacing: 0px;
  --paragraph-default-line-height: 30px;
  --paragraph-default-font-style: normal;
  --headings-typography-size-2-font-family: "Metropolis", Helvetica;
  --headings-typography-size-2-font-weight: 700;
  --headings-typography-size-2-font-size: 44px;
  --headings-typography-size-2-letter-spacing: 0px;
  --headings-typography-size-2-line-height: 54px;
  --headings-typography-size-2-font-style: normal;
  --headings-typography-size-3-font-family: "Metropolis", Helvetica;
  --headings-typography-size-3-font-weight: 700;
  --headings-typography-size-3-font-size: 24px;
  --headings-typography-size-3-letter-spacing: 0px;
  --headings-typography-size-3-line-height: 34px;
  --headings-typography-size-3-font-style: normal;
  --text-single-200-bold-font-family: "Metropolis", Helvetica;
  --text-single-200-bold-font-weight: 700;
  --text-single-200-bold-font-size: 18px;
  --text-single-200-bold-letter-spacing: 0px;
  --text-single-200-bold-line-height: 20px;
  --text-single-200-bold-font-style: normal;
  --special-headings-display-4-font-family: "Metropolis", Helvetica;
  --special-headings-display-4-font-weight: 700;
  --special-headings-display-4-font-size: 28px;
  --special-headings-display-4-letter-spacing: 0px;
  --special-headings-display-4-line-height: 40px;
  --special-headings-display-4-font-style: normal;
  --text-single-200-medium-font-family: "Metropolis", Helvetica;
  --text-single-200-medium-font-weight: 500;
  --text-single-200-medium-font-size: 18px;
  --text-single-200-medium-letter-spacing: 0px;
  --text-single-200-medium-line-height: 20px;
  --text-single-200-medium-font-style: normal;
  --headings-typography-size-6-font-family: "THICCCBOI", Helvetica;
  --headings-typography-size-6-font-weight: 800;
  --headings-typography-size-6-font-size: 16px;
  --headings-typography-size-6-letter-spacing: 0px;
  --headings-typography-size-6-line-height: 22px;
  --headings-typography-size-6-font-style: normal;
  --text-single-300-bold-font-family: "Metropolis", Helvetica;
  --text-single-300-bold-font-weight: 700;
  --text-single-300-bold-font-size: 20px;
  --text-single-300-bold-letter-spacing: 0px;
  --text-single-300-bold-line-height: 22px;
  --text-single-300-bold-font-style: normal;
  --text-single-200-regular-font-family: "Metropolis", Helvetica;
  --text-single-200-regular-font-weight: 400;
  --text-single-200-regular-font-size: 18px;
  --text-single-200-regular-letter-spacing: 0px;
  --text-single-200-regular-line-height: 20px;
  --text-single-200-regular-font-style: normal;
  --headings-typography-size-5-font-family: "Metropolis", Helvetica;
  --headings-typography-size-5-font-weight: 700;
  --headings-typography-size-5-font-size: 18px;
  --headings-typography-size-5-letter-spacing: 0px;
  --headings-typography-size-5-line-height: 24px;
  --headings-typography-size-5-font-style: normal;
  --rich-text-bold-font-family: "Metropolis", Helvetica;
  --rich-text-bold-font-weight: 700;
  --rich-text-bold-font-size: 18px;
  --rich-text-bold-letter-spacing: 0px;
  --rich-text-bold-line-height: 30px;
  --rich-text-bold-font-style: normal;
  --general-shadow-02: 0px 2px 12px 0px rgba(16, 16, 16, 0.08);
  --general-shadow-01: 0px 2px 6px 0px rgba(16, 16, 16, 0.04);
}
