:root {
  --neutral-colors800: rgba(18, 18, 18, 1);
  --neutral-colors700: rgba(63, 63, 63, 1);
  --headings-typography-size-1-font-family: "Metropolis", Helvetica;
  --headings-typography-size-1-font-weight: 700;
  --headings-typography-size-1-font-size: 62px;
  --headings-typography-size-1-letter-spacing: 0px;
  --headings-typography-size-1-line-height: 72px;
  --headings-typography-size-1-font-style: normal;
  --paragraph-default-font-family: "Metropolis", Helvetica;
  --paragraph-default-font-weight: 400;
  --paragraph-default-font-size: 18px;
  --paragraph-default-letter-spacing: 0px;
  --paragraph-default-line-height: 30px;
  --paragraph-default-font-style: normal;
  --headings-typography-size-2-font-family: "Metropolis", Helvetica;
  --headings-typography-size-2-font-weight: 700;
  --headings-typography-size-2-font-size: 44px;
  --headings-typography-size-2-letter-spacing: 0px;
  --headings-typography-size-2-line-height: 54px;
  --headings-typography-size-2-font-style: normal;
  --headings-typography-size-3-font-family: "Metropolis", Helvetica;
  --headings-typography-size-3-font-weight: 700;
  --headings-typography-size-3-font-size: 24px;
  --headings-typography-size-3-letter-spacing: 0px;
  --headings-typography-size-3-line-height: 34px;
  --headings-typography-size-3-font-style: normal;
  --rich-text-bold-font-family: "Metropolis", Helvetica;
  --rich-text-bold-font-weight: 700;
  --rich-text-bold-font-size: 18px;
  --rich-text-bold-letter-spacing: 0px;
  --rich-text-bold-line-height: 30px;
  --rich-text-bold-font-style: normal;
}
